/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
--text: #000;
--bg: #fff;
}

body {
    
    background-color: var(--bg);
    color: var(--text);
}

@media (prefers-color-scheme: dark) {
:root {
    --text: #fff;
    --bg: #000;
        }
} */
:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --sm:14px;
    --md:16px;
    --lg:18px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    }

.container{
    display: block;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.info{
    background-color: rgb(228,100, 48);
    width: 100vw;
    height: auto;
}

.info h2,p{
    display: flex;
    align-items: start;
    margin: 10px;
}

.info img{
    margin: 10px;
    width: 90vw;
    height: 300px;
}

.trust{
    background-color: white;
    width: 100vw;
    height: 400px;
    margin: 10px;
    border-style: groove;
    border-width: 1px;
    box-shadow: inset;
    display: block;
    align-items: center;
    justify-content: center;
}

.help{
    background-color: orange;
    width: 100vw;
    height: auto;
}

.proven{
    background-color: cyan;
    width: 100vw;
    height: auto;
}

.quote{
    background-color: yellow;
    width: 100vw;
    height: auto;
}

.how{
    background-color:blueviolet;
    width: 100vw;
    height: auto;
}

.scalable{
    background-color: purple;
    width: 100vw;
    height: auto;
}

.onsite{
    background-color: peru;
    width: 100vw;
    height: auto;
}

.insight{
    background-color:tomato;
    width: 100vw;
    height: auto;
}

.find{
    background-color:cadetblue;
    width: 100vw;
    height: auto;
}

.contact{
    background-color:yellowgreen;
    width: 100vw;
    height: auto;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: transparent;
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    text-align: justify;
    font-weight: 50px;
    letter-spacing: -0.015em;
    background-image: linear-gradient(180deg,white,orange);
    background-clip:text;
    --webkit-background-clip:text;
}

.subtitle1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid a{
    color: white;
}

body{
    background-color: linear-gradient(180deg,gray,white);
}
.Formulario{
    display: grid;
    grid-column: 1fr;
    gap: 10px;
    margin: 10px;
    align-items: start;
    align-content: start;
    justify-content: start;
}

#Text{
    width: 40vw;
    height: 20vh;
    border-color: #000000;
    border-radius: 10px;
    border-width: 1px;
}

iframe{
    
}